a {
  text-decoration: none !important;
  color: #000000 !important;
}

.navHp,
.Hamburger,
.navigasi {
  transition: 1.2s;
}

.fixed {
  position: fixed !important;
  top: 0% !important;
}

.fixed2 {
  position: fixed !important;
  top: 10% !important;
}
